body{
    background-color: rgba(254, 239, 227, 0.941);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 4px solid black;
}
h5{
    /*center image*/
    text-align: center;
    font-style: italic;
}
a{
    color: black;
}
a:visited{
    color: rgb(167, 71, 23);
}
img{
    border: 6px solid black;
    padding: 3px;
    margin: 5px;
    /*center stuff*/
    display: block;
    margin: auto;
}
.rizz{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.vid{
    display: block;
    margin: auto;
}

.tableauPlaceholder{
    display: block;
    margin: auto;
}
.horizontal-list{
    list-style: none;
    padding: 0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}
.horizontal-list li{
    padding: 0 10px;
}
.nice{
    font-weight: bold;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
.bordered-text {
    border: 5px dashed black; /* 1px border with solid black color */
    padding: 2px; /* Add padding to create space between text and border */
}