body {
    background-color: rgba(255, 192, 203, 0.126);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body fills the entire viewport height */
    margin: 0; /* Remove default body margin */
  }
  
  .content {
    text-align: center; /* Center the text within the content */
  }
  .size{
    width: 20%;
    height: auto;
    border: 6px solid black;
    padding: 3px;
    margin: 5px;
  }

  .image-list-container {
    display: flex;
    align-items: flex-start; /* Align the image and list to the top */
    gap: 20px; /* Add some space between the image and list */
  }
  
  .image {
    max-width: 300px; /* Adjust the image size as needed */
  }
  
  .ordered-list {
    list-style-type: decimal; /* Use default ordered list numbering */
    padding-left: 0; /* Remove default left padding */
    margin: 0; /* Remove default margin */
  }
  
  .ordered-list li {
    margin-bottom: 10px; /* Add some spacing between list items */
  }


  .container {
    display: flex;
    justify-content: center;
  }
  
  .centered-list {
    list-style-position: inside;
    text-align: center;
    padding-left: 0; /* Remove default left padding */
  }
  
  .centered-list li {
    display: inline-block;
    margin-right: 20px; /* Add some spacing between list items */
  }


  .list{
    padding-left: 38%;
    font-size: larger;
  }
